/FileAccessing/
.idea
a.txt
Journal
Journal code
questionAnswer
add.py
b.txt
bonus_length.py
c.txt
coinFlip.py
coinFlipStore.txt
decouplingFunction.py
decouplingOutput.py
essay.txt
Exception.py
fileStore.py
firstCapital.py
functions_practice.py
ifElse.py
lists.py
main.py
match_case.py
members.txt
password.py
passwordChecker.py
readMultiple.py
temperatures.txt
tempFunction.py
tryExcept.py
webBrowser.py
whileLoop.py
withContextManager.py